mixin list(item, link)
	li(class='top-nav__li'): a(href=link, class='top-nav__anchor')=item

mixin connect(icon, link, alt)
	li(class="top-nav__connect--li") 
		a(href=link target='_blank')
			img(src=icon, alt=alt)
//- mixin dropdown(img, text) 
//- 	img(src=img, alt="text")
//- 	p=text

nav(class='top-nav')
	div(class='top-nav__container')
		button(type='button', aria-label="hamburguer menu" class='top-nav__mb-iconMenu hamburger hamburger--slider-r display')
			span.hamburger-box
				span.hamburger-inner
		a(href='./', class='top-nav__link')
			img(src='assets/img/Logo.svg', alt='winbet logo', class='top-nav__logo')
		ul(class='top-nav__menu')
			-for(var i = 0; i < list.length ; i++)
				-var item = list[i]
				+list(item.item, item.link)
		div(class='top-nav__btns--container btn mobile')
			a(href="iniciar-sesion.html", class='btn__singup btn sign') Ingresar
			a(href="registro.html", class='btn__login btn sign') Registro
		div(class='top-nav__btns--container btn desktop')
			form.signUp__form(name='LoginForm' action='javascript:void(0)' onsubmit='BackEndLogin(this); return false')
				div(class="form-content")
					label.signUp__form--label(for='username')
					input.signUp__form--input(type='text' placeholder='Usuario' name='username' required='')
					label.signUp__form--label(for='password')
					input.signUp__form--input(type='password' placeholder='Contraseña' name='password' required='')
					div(class="forgot-container")
						.message
							span#id-login-loading(name='msj_loading')
							small.text-danger(name='msj_error_lg')
						a(href="forgot-password.html" class="forgot") ¿Olvido su contraseña?
					input(type='hidden' name='BackEndUrl' value='https://apuestas.winbet.com.mx/')
				div(class="form-buttons")
					input#send.btn__singup.btn.sign(type='submit' name='send' value='ACCEDER')
					a(href="registro.html", class='btn__login btn sign') REGISTRATE 
